.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureEmoji {
  background-color: var(--ifm-color-primary-dark);
  border-radius: 50%;
  font-size: 26px;
  padding: 14px;
  display: inline;
}

.featureHeading {
  margin-top: 16px;
  text-align: center;
}
